body {
    font-family: 'Arial', sans-serif;
    background-color: #0b11d5;
    margin: 0;
    padding: 0;
    color: #cf0000;
}

header {
    background-color: #091f4e;
    padding: 20px;
    text-align: center;
}

header nav a {
    color: rgb(170, 208, 48);
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
}

header nav a:hover {
    text-decoration: underline;
}

.hero {
    background: url('img/coach.jpg') no-repeat center center/cover;
    color: rgb(128, 5, 189);
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 15px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.cta-button {
    padding: 12px 25px;
    background-color: #d1b28e;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
}

.cta-button:hover {
    background-color: #bfa374;
}

section {
    padding: 40px 20px;
    text-align: center;
}

section h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #333;
}

section p, section ul {
    font-size: 1.2em;
    margin-bottom: 15px;
    line-height: 1.5;
    color: #666;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9em;
}
